*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: "Open Sans", sans-serif;
}

body{
    font-family: var(--font);
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
}

.contenedor{
    max-width: 90%;
    width: 400px;
    margin: 80px auto;
}

.formulario input[type='text'] {
    padding: 20px;
    border: none;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 100, .2) 0 7px 29px 0;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: var(--font);
}

.formulario .btn {
    width: 100%;
    border: none;
    background: rgb(152, 193, 217);
    color: #fff;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    font-family: var(--font);
}

.formulario .btn:hover {
    background: #3e14b4;
}

.contenedorQR {
    display: flex;
    justify-content: center;
    padding: 40px 6;
    padding-top: 20px;
}